@font-face {
    font-family: 'arial-italic.ttf';
    src: local('Arial'), url(../fonts/arial-italic.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'arial-regular.ttf';
    src: local('Arial'), url(../fonts/arial-regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'georgia-bold.ttf';
    src: local('Georgia'), url(../fonts/georgia-bold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'georgia-regular.ttf';
    src: local('Georgia'), url(../fonts/georgia-regular.ttf);
    font-style: normal;
    font-weight: normal;
}

